#password
  = block_partial("pages/base", :title => t(".password_required")) do
    .body= t(".page_body")

    .form
      - if request.post?
        #bad_password= t(".incorrect_password_entered")

      %form{:method => :POST, :action => login_path}
        = utf8_enforcer_tag
        = hidden_field_tag(request_forgery_protection_token.to_s, form_authenticity_token)
        = hidden_field_tag(:page_id, @page._id)

        = render_contact_field(:key => :password, :text => t(".password"), :type => :password_field_tag, :parent => :login)

        = submit_tag(t(".login"))
